<section class="container-form">
  <h2>Data Driven</h2>

  <form [formGroup]="formDD" (submit)="onSubmit()">

    <div class="row">
      <!-- NOME -->
      <div class="col mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" formControlName="nome">
        <span *ngIf="validacoes('nome')" class="required">*Nome Obrigatório</span>
      </div>

      <!-- EMAIL -->
      <div class="col mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
        <span *ngIf="validacoes('email')" class="required">*Email Obrigatório</span>
      </div>
    </div>

    <div formGroupName="endereco" class="endereco">

      <div class="row">
        <!-- CEP -->
        <div class="col mb-3">
          <label class="form-label">CEP</label>
          <input type="text" class="form-control" formControlName="cep"
          (keyup)="onConsultaCEP()">
          <span *ngIf="validacoes('endereco.cep')" class="required">*CEP Obrigatório</span>
          <span *ngIf="naoEncontrado && !validacoes('endereco.cep')" class="warning">CEP não encontrado</span>
        </div>

        <!-- NUMERO -->
        <div class="col mb-3">
          <label class="form-label">Número</label>
          <input type="text" class="form-control" formControlName="numero">
          <span *ngIf="validacoes('endereco.numero')" class="required">*Número Obrigatório</span>
        </div>

        <!-- RUA -->
        <div class="col-6 mb-3">
          <label class="form-label">Rua</label>
          <input type="text" class="form-control" formControlName="rua">
          <span *ngIf="validacoes('endereco.rua')" class="required">*Rua Obrigatório</span>
        </div>
      </div>

      <!-- COMPLEMENTO -->
      <div class="col mb-3">
        <label class="form-label">Complemento</label>
        <input type="text" class="form-control" formControlName="complemento">
      </div>

      <div class="row">
        <!-- BAIRRO -->
        <div class="col mb-3">
          <label class="form-label">Bairro</label>
          <input type="text" class="form-control" formControlName="bairro">
          <span *ngIf="validacoes('endereco.bairro')" class="required">*Bairro Obrigatório</span>
        </div>

        <!-- CIDADE -->
        <div class="col colmb-3">
          <label class="form-label">Cidade</label>
          <input type="text" class="form-control" formControlName="cidade">
          <span *ngIf="validacoes('endereco.cidade')" class="required">*Cidade Obrigatório</span>
        </div>

        <!-- ESTADO -->
        <div class="col mb-3">
          <label class="form-label">Estado</label>
          <select type="text" class="form-control" formControlName="estado">
            <option *ngFor="let item of estadoBr | async" [value]="item.sigla">
              {{ item.nome }} - {{ item.sigla }}
            </option>
          </select>
          <span *ngIf="validacoes('endereco.estado')" class="required">*Estado Obrigatório</span>
        </div>
      </div>

    </div>

      <!-- CARGO -->
      <div class="col mb-3">
        <label class="form-label">Cargo</label>
        <select type="text" class="form-control" formControlName="cargos"
        [compareWith]="compararCargos">
          <option *ngFor="let item of cargos" [ngValue]="item">
            {{ item.desc }}
          </option>
        </select>
        <span *ngIf="validacoes('cargo')" class="required">*Cargo Obrigatório</span>
      </div>

      <!-- TECNOLOGIAS -->
      <div class="col mb-3">
        <label class="form-label">Tecnologias</label>
        <select type="text" class="form-control" formControlName="tecnologias" multiple>
          <option *ngFor="let item of tecnologias" [value]="item.nome">
            {{ item.desc }}
          </option>
        </select>
        <span *ngIf="validacoes('cargo')" class="required">*Cargo Obrigatório</span>
      </div>



    <button type="submit" class="btn btn-primary">Enviar</button>
    <button (click)="resetForm()" class="btn" >Reset</button>
    <button (click)="setCargo()" class="btn" >Cargo</button>
  </form>

  <form-debugger [form]="formDD"></form-debugger>
</section>
